<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>LeftCurrencySymbol\LeftCurrencySymbol</fullnamespace>
    <descriptive locale="en_US">
        <title>Left Currency Symbol</title>
    </descriptive>
    <version>1.1.1</version>
    <author>
        <name>George Palmer</name>
        <email>george@honeystone.com</email>
    </author>
    <type>classic</type>
    <thelia>2.1.1</thelia>
    <stability>prod</stability>
</module>
